<div class="container">
  <div class="row">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        
         <div class="row g-3">
          <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
              
         </div>
          <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img height="350px" src="https://64.media.tumblr.com/5b7f2a3438ce4b53081ebc080405a20d/344bbdac235b86b8-1e/s640x960/e1edb0a8b6df2a888618c54726ba8bbd81f104c5.jpg" class="d-block w-100" alt="...">
                    </div>
                    
                  </div>
                </div>  



          </div>
          
       
        </div>
            
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" >USER LOGIN</a>
                              
              </div>
            </nav>
        
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <div class="row">
            
           <form>
<div class="row mb-3">
<label for="inputEmail3" class="col-sm-2 col-form-label">USER NAME</label>
<div class="col-sm-10">
  <input type="text " class="form-control" id="inputEmail3">
</div>
</div>
<div class="row mb-3">
<label for="inputPassword3" class="col-sm-2 col-form-label">PASSWORD</label>
<div class="col-sm-10">
  <input type="password" class="form-control" id="inputPassword3">
</div>
</div>


<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
  <a routerLink="/uw"><br><br><button type="submit" class="btn btn-primary">Sign in</button></a>
</div>

</form>






      






























    </div>
</div>
</div>